<!doctype html>
<html ng-app='myApp'>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <div ng-controller='PlayerController'>
            Playing audio: <b>{{ playing }}</b>
            <ul id="programs_list" class="">
              <li ng-repeat="program in programs">
                <span npr-link play='play(program)' ng-model='program'></span>
              </li>
            </ul>
        </div>
        <input type='text' ng-model="city" placeholder='Enter a city'>
        <div ng-sparkline ng-city="San Francisco"></div>
    </body>
</html>